@import 'variables';
@import 'initialize';
@import 'inherent';
@import 'mixin';
@import 'responsive';

.header{
    text-transform: uppercase;

    .msg-top{
        @extend .flexCenter;
        background-color: $colorDark;
        height: 8vh ;
        color: $colorLight;
        & > *{
            padding: 0 2rem;
        }
    }

    &__bar{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 2rem;
        //Responsive nav
        @media (min-width: 768px){
            &{
                grid-template-columns: 0.5fr 2fr 1fr;
                
            }
        }
    }
    
    &__logo{
        display: inline-block;
        width: 10em;
        margin: 0 auto;
    }

    .navegation{
        &__items{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;

            @media (min-width: 768px){
                &{
                    width: 80%;
                    flex-direction: row;
                }
            }
        }
    }

    .user{
        @include flex(row,space-between, center);

        &__carrito{
            display: flex;
            align-items: center;
            
            &-number{
                @extend .flexCenter;
                justify-content: center;
                text-align: center;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                margin-left: 0.5rem;
                background-color: $colorImportant;
            }
        }
    }
    

}

.main{
    .banner{
        padding: 4% 8%;
        background-color: $colorPrimary;
    }

    .sushi__grid {
        display: grid;
        width: 80%;
        margin: 2rem auto;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        grid-template-areas: "m1 p1" "m2 p2" "p3 m3" "p4 m4";
        
        $i: 0;
        @while $i <=8{
            .m#{$i} { grid-area: m#{$i}; }
            
            .p#{$i} { grid-area: p#{$i}; }
            
            $i: $i + 1;
        }
        


        .sushi__img{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .sushi__producto{
            p{
                font-weight: lighter;
            }
        }

        @media (min-width: 768px){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "m1 p1 m2 p2" "p3 m3 p4 m4";
        }
    }
}

.footer{
    @extend .flexCenter;
    background-color: $colorPrimary;
    height: 8vh;
    p{
        display: inline-block;
        margin: auto;
        text-align: center;
    }
}